// udg brand colors
$udg-gray: rgb(37,46,52);
$udg-red: rgb(255,67,46);
$udg-purple: rgb(62,62,114);
$udg-blue: rgb(47,136,255);
$udg-green: rgb(43,214,152);
$udg-yellow: rgb(255,210,0);
$udg-gray2: rgb(200,200,200);
$udg-gray3: rgb(132,153,167);

body {
  font-family: 'Open Sans' ,sans-serif;
  font-weight: 300;
  font-style: normal;
}
